<footer class="footer-card" id="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <img src="/images/logo-dark-transparent.png" alt="Xbooks Logo" />
      <p class="footer-desc">
        ink & Echoes empowers readers to discover, share, and review the best in
        African literature.
      </p>
      <div class="footer-social">
        <a href="#"
          ><img src="images/icons8-instagram-50.svg" alt="Instagram"
        /></a>
        <a href="#"
          ><img src="images/icons8-github-logo-50.svg" alt="LinkedIn"
        /></a>
        <a href="#"><img src="images/icons8-twitter-50.svg" alt="GitHub" /></a>
      </div>
    </div>
    <div class="footer-col">
      <h4>Product</h4>
      <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Integrations</a></li>
        <li><a href="#">Changelog</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Partners</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&copy; 2025 ink & books. All rights reserved.</span>
    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Cookies Settings</a>
    </div>
  </div>
</footer>
